body {
  background-image: linear-gradient(
    to right,
    #2ecc71,
    #2980b9
  ); /*Left to Right Gradient*/
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

p {
  margin: 10px 0 !important;
}
